@font-face { 
  font-family: American Classic; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
	height: 100%;
	font-family: arial, helvetica, sans-serif;
	font-size: 81.25%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	direction: ltr;  
}

* { 
	margin: 0;
	padding: 0;
}


article, aside, figure, footer, header, hgroup, nav, section { 
	display:block;
}


/* BODY Background */
body {
	margin:0;
	/* font-family: Times New Roman, Geneva, sans-serif; */
	background-image:url(../nimages/backgnd3.png);
}

p { 
	padding: 0 0 20px 0;
 	line-height: 1.7em;
}

img { 
  	border: 0;
}

label {
	cursor: default;
}

h1, h2, h3, h4, h5, h6 { 
	color: #362C20;
	font-size: 1.54em;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 .46em;
	/*
	letter-spacing: 0em;
	padding: 0 0 5px 0;
	*/
}

/*
h1, h2, h3 { 
  font: normal 150% American Classic, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color:#FFFFFF;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #F67F00;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #F67F00;
  padding: 0 0 5px 0;
  font: normal 150% 'Yanone kaffeesatz', arial, sans-serif;
}

h5, h6 { 
  color: #555;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}
*/

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: red;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, nav, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: -30px auto;
  width: 1000px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border: 13px 13px 13px 13px;
  background: transparent url(../images/main2.png);
  padding-bottom: 30px;
}

header { 
  background: transparent;
  height: 179px;
}


/* for LOGO */

#logo { 
  width: 975px;
  height: 175px;
  background: transparent;
  color: #888;
  padding: 0;
}

#logo h1, #logo h2 { 
  font: normal 320% 'News Cycle', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 20px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
}


/* MENUS */

nav { 
  height: 45px;
  width: 930px;
  margin: -34px auto 0 auto;
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 25px 5px 25px 5px;
  color: #FFF;
  border: solid 4px #e5bd00;
  background: #004ae1;
    box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -moz-box-shadow: rgba(0,0,0,1) 0 5px 25px;
} 

#menu_container { 
  width: 930px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 930px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 15px 0;
} 

#sidebar_container { 
  float: right;
  width: 224px;
  padding: 15px 0 0 0;
}



/* SIDEBARS (Log in and Announcements) */

.sidebar { 
  float: right;
  width: 200px;
  margin: 0 0 17px 0;
  background: #004ae1;
  border: 4px solid #e5bd00;
  -webkit-border-radius: 25px 0px 25px 0px; 
  -moz-border-radius: 25px 0px 25px 0px;
  border-radius: 25px 0px 25px 0px;
  padding: 0 15px 5px 13px;
  color:#FFFFFF;
  box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -moz-box-shadow: rgba(0,0,0,1) 0 5px 25px;
  
  
}

#txt {

	max-width: 210px;
	right-margin: 50px;
}
  
.sidebar h3, .content h1 { 
  padding: 0 15px 20px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  text-shadow:  #000 3px 3px;
  margin: 0 1px;
  color:#FFFFFF;
}

/* Sidebar font */

.sidebar h3, h1 { 
  
  color: #FFFFFF;
  text-shadow:  #000 3px 3px;
  font: 145% 'American Classic', arial, sans-serif;

  
}

.titlebar:before, .titlebar:after
    {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px;
    }

    .titlebar:before
    {
        border-width: 0 10px 10px 0;
        border-right-color: #222;
        left: 0;
    }


.sidebar ul { 
  margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
  color: #DDD;
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}
.content { 
  text-align: left;
  width: 630px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
  color:fff;	

}

/* FOOTER */

footer { 
  width: 930px;
  font: 130% American Classic, arial, sans-serif;
  text-shadow: 1px 1px #0D7989;
  height: 10px;
  padding: 5px 0 20px 0;
  text-align: center; 
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 5px 25px 5px 25px;
  color: #FFF;
  border: solid 4px #e5bd00;
  background: #004ae1;
  box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -moz-box-shadow: rgba(0,0,0,1) 0 5px 25px;
}

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 200px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

ul ul span.sf-arrow { 
  right: 10;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: #0DBBD5;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:7px 20px 6px 10px;
  font: 110% 'American Classic', arial, sans-serif;
  text-shadow: 1px 1px #0D7989;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  color: #d90000;
  text-shadow: none;
}


/* Main Content */


#main_msg { 
  min-height: 600px;
  height:auto;
  width: 650px;
 /* margin: -140px auto 0 auto; */
  margin: 20px auto 0 auto;
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 25px 5px 25px 5px;
  color: #FFF;
  border: solid 4px #e5bd00;
  background: #004ae1;
    box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 5px 25px;
  -moz-box-shadow: rgba(0,0,0,1) 0 5px 25px;
}

#main_msg p {
	padding: 15px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #6ec5ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#6ec5ff));
   background: -webkit-linear-gradient(top, #3e779d, #6ec5ff);
   background: -moz-linear-gradient(top, #3e779d, #6ec5ff);
   background: -ms-linear-gradient(top, #3e779d, #6ec5ff);
   background: -o-linear-gradient(top, #3e779d, #6ec5ff);
   padding: 4px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #3582b5;
   background: #3582b5;
   color: #faf25c;
   }
.button:active {
   border-top-color: #0d2230;
   background: #0d2230;
   }

<!-- drop down ANNOUNCEMENT -->
<style type="text/css">

/* message display page */
.message_list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 383px;
}	
.message_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
}
.message_head .timestamp {
	color: #666666;
	font-size: 95%;
	position: absolute;
	right: 10px;
	top: 5px;
}
.message_head cite {
	font-size: 100%;
	font-weight: bold;
	font-style: normal;
}
.collapse_buttons a {
	margin-left: 15px;
	float: right;
}
.show_all_message {
	background: url(images/tall-down-arrow.gif) no-repeat right center;
	padding-right: 12px;
}
.show_recent_only {
	display: none;
	background: url(images/tall-up-arrow.gif) no-repeat right center;
	padding-right: 12px;
}
</style>

<!-- end of drop down ANNOUNCEMENT -->
