<FilesMatch ".(swf)$">
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
SetEnv no-gzip dont-vary
</FilesMatch>
